@{
    ViewData["Title"] = "Delivery and Payment";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Delivery and Payment</h2>
            <h3>Delivery Information</h3>
            <p>
                We offer fast and reliable delivery to our customers. Our standard shipping options include:
            </p>
            <ul>
                <li>Standard Shipping: Orders are typically delivered within 3-5 business days.</li>
                <li>Express Shipping: Orders are delivered within 1-2 business days.</li>
                <li>International Shipping: We ship to select international destinations. Shipping times may vary depending on the destination.</li>
            </ul>
            <p>
                Shipping costs are calculated at checkout based on the weight and dimensions of your order, as well as your delivery address.
            </p>
            <h3>Payment Options</h3>
            <p>
                We accept the following payment methods:
            </p>
            <ul>
                <li>Credit/Debit Card: We accept Visa, Mastercard, American Express, and Discover.</li>
                <li>PayPal: You can securely pay for your order using your PayPal account.</li>
                <li>Bank Transfer: Contact our customer service team for instructions on making a payment via bank transfer.</li>
            </ul>
            <h3>Order Tracking</h3>
            <p>
                Once your order has been shipped, you will receive a confirmation email with tracking information. You can track the status of your order online using the provided tracking number.
            </p>
            <h3>Contact Us</h3>
            <p>
                If you have any questions about delivery or payment, please don't hesitate to contact us. Our customer service team is here to help.
            </p>
        </div>
    </div>
</div>
