@{
    ViewData["Title"] = "Returns";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Returns Policy</h2>
            <p>
                We strive to ensure that you are completely satisfied with your purchase from OnlineStore. If for any reason you are not entirely satisfied, we are here to help.
            </p>
            <h3>Returns Process</h3>
            <p>
                To initiate a return, please follow these steps:
            </p>
            <ol>
                <li>Contact our customer service team within 30 days of receiving your order.</li>
                <li>Provide your order number and details of the item(s) you wish to return.</li>
                <li>Our customer service team will provide you with a return authorization and instructions for returning the item(s).</li>
                <li>Once your return is received and inspected, we will notify you of the approval or rejection of your refund.</li>
            </ol>
            <h3>Conditions for Returns</h3>
            <p>
                To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
            </p>
            <p>
                Please note that certain items are not eligible for return, such as perishable goods or personalized items.
            </p>
            <h3>Refunds</h3>
            <p>
                If your return is approved, we will initiate a refund to your original method of payment. You will receive the credit within a certain amount of days, depending on your card issuer's policies.
            </p>
        </div>
    </div>
</div>
